@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.ttf');
}
:root {
    --redLight: rgb(204, 33, 56);
} 
.menu {
    display: none;
    width: 100%;
    min-height: 100vh;
    height:100%;
    font-size: 3vw;
    font-family: 'coco';
    flex-direction: column;
    align-items: center;
   /* background:black;*/
    gap: 3rem;
}
.friesMsg {
    font-size: 2vw;
    font-style:italic;
}
.menugrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    width: 80%;
    gap: 10vw;
/*background-color: black;*/
    height: 80%;
    padding: 10%;
}

.menu-header {
    margin-top: 10vh;
}
.card {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--redLight);
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 2%;
    box-shadow: rgba(104, 105, 105, 0.822) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border-radius: 20px;
    transition: all 500ms;
    overflow:hidden;
    background-position: center;
    background-repeat: no-repeat;
    overflow-wrap:break-word;
    border: .01vw solid white;
 }
  
.card:hover {
    box-shadow: rgba(104, 105, 105, 0.822) 0px 0.35em 1rem, rgba(104, 105, 105, 0.822) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }
 .card ul {
    text-align:left;
    font-size: 1vw;
    width: 80%;
    list-style: none;
    padding-bottom: 5%;
 }
 .card span {
     float:right;
 }
 .regLarge {
     text-align: right;
 }
 @media only screen and (max-width: 700px){
    .menugrid {
        grid-template-columns: 1fr;
        gap: 40vw;
        font-size: 5vw;
    }
    .card ul {
        font-size: 3vw;
    }
}

